@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Gilroy-Regular';
    src: url('/public/assets/fonts/Gilroy-Regular.ttf');
}

@font-face {
    font-family: 'Gilroy-SemiBold';
    src: url('/public/assets/fonts/Gilroy-SemiBold.ttf');
}

@font-face {
    font-family: 'Gilroy-Thin';
    src: url('/public/assets/fonts/Gilroy-Thin.ttf');
}

@font-face {
    font-family: 'Gilroy-SemiBoldItalic';
    src: url('/public/assets/fonts/Gilroy-SemiBoldItalic.ttf');
}

@font-face {
    font-family: 'Gilroy-MediumItalic';
    src: url('/public/assets/fonts/Gilroy-MediumItalic.ttf');
}

.main {
    width: 100vw;
    min-height: 100vh;
    position: fixed;
    display: flex;
    justify-content: center;
    padding: 120px 24px 160px 24px;
    pointer-events: none;
}

.main:before {
    background: radial-gradient(circle, rgba(2, 0, 36, 0) 0, #fafafa 100%);
    position: absolute;
    content: "";
    z-index: 2;
    width: 100%;
    height: 100%;
    top: 0;
}

.main:after {
    content: "";
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    opacity: 0.4;
    filter: invert(1);
}

.gradient {
    z-index: 3;
    width: 100%;
    max-width: 640px;
    background-image: radial-gradient(
            at 27% 37%,
            hsla(215, 98%, 61%, 1) 0px,
            transparent 0%
    ),
    radial-gradient(at 97% 96%, hsla(38, 60%, 74%, 1) 0px, transparent 50%),
    radial-gradient(at 33% 50%, hsla(222, 67%, 73%, 1) 0px, transparent 50%);
    position: absolute;
    content: "";
    height: 100%;
    filter: blur(100px) saturate(150%);
    top: 80px;
    opacity: 0.15;
}

@media screen and (max-width: 640px) {
    .main {
        padding: 0;
    }
}

.app {
    @apply relative z-10 flex justify-center items-center flex-col max-w-7xl mx-auto px-6;
}

.orange_gradient {
    @apply bg-gradient-to-r from-amber-500 via-orange-600 to-yellow-500 bg-clip-text text-transparent;
}

.green_gradient {
    @apply bg-gradient-to-r from-green-400 to-green-500 bg-clip-text text-transparent;
}

.blue_gradient {
    @apply bg-gradient-to-r from-blue-600 to-cyan-600 bg-clip-text text-transparent;
}

.desc {
    @apply mt-5 text-lg text-gray-600 sm:text-xl max-w-2xl;
}

.nav-sign-btn {
    @apply border rounded bg-primary-blue py-2 px-4 text-white transition-all hover:bg-primary-blue-strong text-center text-sm font-gilroy flex items-center justify-center;
}

.talk-learn-grow{
    @apply text-primary-blue
}

.copy_btn {
    @apply w-7 h-7 rounded-full bg-white/10 shadow-[inset_10px_-50px_94px_0_rgb(199,199,199,0.2)] backdrop-blur flex justify-center items-center cursor-pointer;
}

.glassmorphism {
    @apply rounded-xl border border-gray-200 bg-white/20 shadow-[inset_10px_-50px_94px_0_rgb(199,199,199,0.2)] backdrop-blur p-5;
}

.prompt_layout {
    @apply space-y-6 py-8 sm:columns-2 sm:gap-6 xl:columns-3;
}

/* Feed Component */
.feed {
    @apply mt-16 mx-auto w-full max-w-xl flex justify-center items-center flex-col gap-2;
}

/* Form Component */
.form_textarea {
    @apply w-full flex rounded-lg h-[200px] mt-2 p-3 text-sm text-gray-500 outline-0;
}

.form_input {
    @apply w-full flex rounded-lg mt-2 p-3 text-sm text-gray-500 outline-0;
}

.dropdown {
    @apply absolute right-0 top-full mt-3 w-full p-5 rounded-lg bg-white min-w-[210px] flex flex-col gap-2 justify-end items-end;
}

/* PromptCard Component */
.prompt_card {
    @apply flex-1 break-inside-avoid rounded-lg border border-gray-300 bg-white/20 bg-clip-padding p-6 pb-4 backdrop-blur-lg backdrop-filter md:w-[360px] w-full h-fit;
}

.flex-center {
    @apply flex justify-center items-center;
}

.flex-start {
    @apply flex justify-start items-start;
}

.flex-end {
    @apply flex justify-end items-center;
}

.flex-between {
    @apply flex justify-between items-center;
}

.banner {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    position: relative;
    overflow: hidden;
    color: white;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.banner::before, .banner::after, .banner .circle {
    content: '';
    position: absolute;
    border-radius: 50%;
    opacity: 0.2;
    z-index: 0;
}

.banner::before {
    width: 200px;
    height: 200px;
    background-color: #84a3dc;
    top: -60px;
    left: -80px;
}

.banner::after {
    width: 300px;
    height: 300px;
    background-color: #84a3dc;
    top: 40px;
    right: -120px;
}

.banner .circle1 {
    width: 60px;
    height: 60px;
    background-color: #84a3dc;
    top: 100px;
    left: 10px;
}

.banner .circle2 {
    width: 100px;
    height: 100px;
    background-color: #84a3dc;
    top: 150px;
    right: 100px;
}

.arrow-container {
    position: absolute;
    right: 0;
    margin-left: 20px;
    margin-top: -30px;
}

.arrow-container svg {
    width: 160px;
    height: 100px;
}
